.bar{
    background-color: blue;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    

}
.n{
    position: relative;
    left: 700px;
    top: -1;
    
}
.nav{
    text-align: right;
    text-decoration: none;
    color:whitesmoke;
    padding: 20px;
    font-weight: bold;
    font-size: 25px;
    background-color:blueviolet;
}
img{
    padding: 10px;
}
.d{
    text-align: center;
    font-size: 160px;
}
.b{
    color: blue;
    font-size: bolt;
}
.g{
    color: green;
    font-size: bolt;
}
.logo{
    text-align: center;

}
.p{
padding-left: 150px;
padding-right: 150px;
word-spacing: 5px;
text-align: justify;
margin: 10px,10px,10px,10px,;
padding: 10px,10px,10px,10px;
}
.s{
    font-size: 200px;
}
.cl{
    background-color: blue;
    width: 1400px;
    height: 700px;
    padding-left: 150px;
}
.fal{
    padding-left: 50px;
    padding-left: 150px;
}
.doc{
    padding-left: 50px;
    padding-left: 150px;

}

.seo{
    padding-left: 50px;
    padding-left: 150px;
}
.ak{
    color: whitesmoke;
    font-size: 50px;
    font-weight: bold;
    padding: 50px;
    padding-left: 20px;
}
.ei{
    color: whitesmoke;
    font-size: 50px;
    font-weight: bold;
    padding: 50px;

}
.tar{
    color: whitesmoke;
    font-size: 50px;
    font-weight: bold;
    padding: 50px;
}
.las{
    color: whitesmoke;
    font-size: 50px;
    font-weight: bold;
    padding: 50px;
}
.w{
    font-size: 25px;
    padding-left: -60px;
    color: whitesmoke;
    
    

}
.e{
    font-size: 25px;
    padding-left: 15px;
    color: whitesmoke;
}
.m{
    font-size: 25px;
    padding-left: 40px;
    color: whitesmoke;
}
.c{
    font-size: 25px;
    padding-left: 140px;
    color: whitesmoke;
}
.z{
    padding: 50px;
    text-align: center;
    

}
.jk{
    font-size: 60px;
    color: blue;
}
.kj{

    font-size: 60px;
    color: green;
}
.imgg{
    text-align: center;
}


.q{
    padding-top: 200px;
    padding-left: 200px;
    font-size: 100px;
    color: whitesmoke;

}


.sd{
    
    -moz-box-shadow: 0 0 10px #777777;
-webkit-box-shadow: 0 0 10px #777777;
box-shadow: 0 0 10px #777777;
height: 250px;
padding: 40px;
margin: 30px;
        
}
.wf{
    -moz-box-shadow: 0 0 10px #777777;
-webkit-box-shadow: 0 0 10px #777777;
box-shadow: 0 0 10px #777777;
height: 250px;
width: 360px;
padding: 40px;
margin: 30px;
}
.mdc{
    
    -moz-box-shadow: 0 0 10px #777777;
-webkit-box-shadow: 0 0 10px #777777;
box-shadow: 0 0 10px #777777;
height: 250px;
padding: 40px;
margin: 30px;
}
.das{
    -moz-box-shadow: 0 0 10px #777777;
-webkit-box-shadow: 0 0 10px #777777;
box-shadow: 0 0 10px #777777;
height: 250px;
padding: 40px;
margin: 30px;

}
.ro{
    -moz-box-shadow: 0 0 10px #777777;
-webkit-box-shadow: 0 0 10px #777777;
box-shadow: 0 0 10px #777777;
height: 250px;
width: 360px;
padding: 40px;
margin: 30px;

}
.edu{
    -moz-box-shadow: 0 0 10px #777777;
-webkit-box-shadow: 0 0 10px #777777;
box-shadow: 0 0 10px #777777;
height: 250px;
width: 270px;
padding: 40px;
margin: 30px;
}
.he{
    display: inline;
    padding-left: 40px;
margin: 30px;
    
}
.hs{
    display: inline;
    padding-left: 100px;
    margin: 30px;
}
.it{
    display: inline;
    padding-left: 40px;
    margin: 30px;

}
.th{
    
    display: inline;
    padding-left: 6px;
    margin: 30px;

}
    
    

.ig{
    width: 200px;
    height: 200px;

}  
.igy{
    text-align: justify;
    font-size: 60px;
}
.pv{
    text-align: justify;
    width: 60px;
    height: 60px;
}



    





